extends ../layout/layout.pug

block cdn-bootstrap

  a(href=`/customerShop/${user.id}`) Go to myshop
  
  h5 My Books
  table.table.table-dark.mt-2
    thead
      tr
        th STT
        th Book
        th Action
    tbody
        - let count = 0;  
        - listBooks = shop.listBook
        each book in listBooks
          tr
            td= count+=1
            td= Books.find(x => x.id === book.idBook).title
            td 
              a.btn.btn-light(href='#') Hoàn Thành
              
  h5 Add Books

  if notifi
    each i in notifi
      .alert.alert-primary= i
  form(action="/shops/manageShop/", method="POST")
    select#book(name="book")
      each book in fullBooks
        option(value=book.id)= book.title
    br
    button.btn.btn-primary.mt-2 Add
