extends ../layout/layout.pug

block cdn-bootstrap
  if notifi
    each i in notifi
      .alert.alert-danger= i
  h1 My Order
  - console.log('cart:', user)
  form(action="", method="POST")
    table.table.table-dark.mt-2
      thead
        tr
          th STT
          th Book Name
          th Count
          th Action
      tbody
          - let count = 0
          //each idBook in keyArr
          - for(var i =0;i< keyArr.length; i++)
              tr
                - let e = dataBook.find(x => x.id === keyArr[i])
                  th= count+=1
                  td= e.title
                  td= valueArr[i]
                  td 
                    form(action="" method="POST")
                      .form-group
                          a.btn.btn-light.m-1(href=`/cart/${e.id}/delete`) Delete
    button.btn.btn-primary.mt-2 Rent  