extends ../layout/layout.pug

block cdn-bootstrap
  if notifi
    each i in notifi
      .alert.alert-danger= i
  h1 My Order
  form(action="", method="POST")
    table.table.table-dark.mt-2
      thead
        tr
          th STT
          th Book Name
          th Count
          th Action
      tbody
          - let count = 0
          //- for(var i =0;i< keyArr.length; i++)
          each item in dataCart
              tr
                - let e = dataBook.find(x => x.id === item.bookId)
                - console.log('e', e)
                  th= count+=1
                  if(!e)
                    td Not Found
                  else
                    td= e.title
                  td= item.count
                  td 
                    form(action="" method="POST")
                      .form-group
                          a.btn.btn-light.m-1(href=`/cart/${item.bookId}/delete`) Delete
    button.btn.btn-primary.mt-2 Rent  
  if fullCart
    nav(aria-label='Page navigation example')
            ul.pagination.justify-content-end#myNavi
              - let index = 1;
                li(class=`page-item ${ pageCurrent === NaN ||page_Current === 0 || page_Current === 1 || pageSize === 1 ? 'disabled' : '' }`)
                  a.page-link.previous(href='#', aria-label='Previous')
                    span(aria-hidden='true') &laquo;
                - for (index ; index <= paginationSize; index++)
                  li.page-item.item(value = index)
                    a.page-link(href="/cart/" + '?page=' + index )= index
                li(class=`page-item ${page_Current === pageSize || pageSize === 1 ? 'disabled' : '' }`)
                  a.page-link.next(href='/cart/'+ '?page=', aria-label='Next')
                    span(aria-hidden='true') &raquo;

  script.
        // get index navigation 
        let href = document.location.href;
        let pageNum = parseInt(href.slice(-1));
        pageNum === NaN || pageNum === 1 ? pageNum=1 : pageNum;
        let lis = document.getElementsByClassName('item');
        for(let j = 0; j< lis.length; j++) {
            let li1 = lis[j];
            let vl = parseInt(li1.getAttribute('value'));
            if(vl === pageNum){
                li1.classList.add("active")
            }
        }

        // next page
        let next = document.getElementsByClassName('next');
        // change attribute href next 
        next[0].setAttribute("href", "/cart?page=" + (pageNum+1))

        // previous page
        let previous = document.getElementsByClassName("previous");
        // change attribute href previous
        previous[0].setAttribute("href", "/cart?page=" + (pageNum-1))