extends ../layout/layout.pug

block cdn-bootstrap

  h2 List User

  form(action="/users/search", method="GET")
    div.form-group.d-flex
      input(class="form-control", type="text", name="q", value= value ? value : '')
      button.btn.btn-primary Search
  a.btn.btn-primary(href="/users/create") Create User
  table.table.table-dark.mt-2
    thead
      tr
        th STT
        th User Name
        th Action
    tbody
        - let count = 0
          each user in listUser
            tr
              th= count+=1
              td= user.name
              td 
                form(action="" method="POST")
                  if !isAdmin
                    .form-group
                      a.btn.btn-light.m-1(href=`/users/view/${user.id}/`) View
                  if isAdmin
                    .form-group
                      a.btn.btn-light.m-1(href=`/users/view/${user.id}/`) View
                      a.btn.btn-light.m-1(href=`/users/edit/${user.id}`) Edit
                      a.btn.btn-light.m-1(href=`/users/${user.id}/delete`) Delete
                      
  nav(aria-label='Page navigation example')
          ul.pagination.justify-content-end#myNavi
            - let index = 1;
              li(class=`page-item ${ pageCurrent === NaN ||page_Current === 0 || page_Current === 1 || pageSize === 1 ? 'disabled' : '' }`)
                a.page-link.previous(href='#', aria-label='Previous')
                  span(aria-hidden='true') &laquo;
              - for (index ; index <= paginationSize; index++)
                li.page-item.item(value = index)
                  a.page-link(href="/users/" + '?page=' + index )= index
              li(class=`page-item ${page_Current === pageSize || pageSize === 1 ? 'disabled' : '' }`)
                a.page-link.next(href='/users/'+ '?page=', aria-label='Next')
                  span(aria-hidden='true') &raquo;

  script.
        // get index navigation 
        let href = document.location.href;
        let pageNum = parseInt(href.slice(-1));
        pageNum === NaN || pageNum === 1 ? pageNum=1 : pageNum;
        let lis = document.getElementsByClassName('item');
        for(let j = 0; j< lis.length; j++) {
            let li1 = lis[j];
            let vl = parseInt(li1.getAttribute('value'));
            if(vl === pageNum){
                li1.classList.add("active")
            }
        }

        // next page
        let next = document.getElementsByClassName('next');
        // change attribute href next 
        next[0].setAttribute("href", "/bookStore/books?page=" + (pageNum+1))

        // previous page
        let previous = document.getElementsByClassName("previous");
        // change attribute href previous
        previous[0].setAttribute("href", "/bookStore/books?page=" + (pageNum-1))