extends ../layout/layout.pug

block cdn-bootstrap
  
  if errors
    each error in errors
      .alert.alert-danger= error

  h1 Transactions
  a.btn.btn-primary(href="/transactions/create") Create Transaction
  table.table.table-dark.mt-2
    thead
      tr
        th STT
        th User
        th list Book
        th 
    tbody
      - let count = 0;        
        each item in listTran
          tr
            td= count+=1
            td= dataUser.find(x => x.id === item.userId).name
            td
              ul
                - let listId = item.bookId
                each val in listId
                  li= dataBook.find(item => item.id === val).title
            td
              if(item.isComplete === false)
                span &nbsp &nbsp
                a.btn.btn-light(href=`/transactions/${item.id}/complete`) Hoàn Thành
              else
                span &nbsp &nbsp
                a.btn.btn-light(href="#") Đang Mượn
  nav(aria-label='Page navigation example')
        ul.pagination.justify-content-end#myNavi
          - let index = 1;
            li(class=`page-item ${page_Current === 0 || page_Current === 1 || pageSize === 1 ? 'disabled' : '' }`)
              a.page-link.previous(href='#', aria-label='Previous')
                span(aria-hidden='true') &laquo;
            - for (index ; index <= paginationSize; index++)
              li.page-item.item(value = index)
                a.page-link(href="/transactions/" + '?page=' + index )= index
            li(class=`page-item ${page_Current === pageSize || pageSize === 1 ? 'disabled' : '' }`)
              a.page-link.next(href='#', aria-label='Next')
                span(aria-hidden='true') &raquo;

  script.
        // get index navigation 
        let href = document.location.href;
        let pageNum = parseInt(href.slice(-1));
        pageNum === NaN || pageNum === 1 ? pageNum=1 : pageNum;
        let lis = document.getElementsByClassName('item');
        for(let j = 0; j< lis.length; j++) {
            let li1 = lis[j];
            let vl = parseInt(li1.getAttribute('value'));
            if(vl === pageNum){
                li1.classList.add("active")
            }
        }

        // next page
        let next = document.getElementsByClassName('next');
        // change attribute href next 
        next[0].setAttribute("href", "/transaction/?page=" + (pageNum+1))

        // previous page
        let previous = document.getElementsByClassName("previous");
        // change attribute href previous
        previous[0].setAttribute("href", "/transactions/?page=" + (pageNum-1))